.header{
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    animation: slideIn .8s ease-in-out forwards;
    position: relative;
    z-index: 1;
    
}


.dashboardTitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29.26px;
}

.searchBarItem{
    outline: none;
    border: none;
    width: 80%;
}

.searchBarItem::placeholder{
    font-family: "Lato", sans-serif;
}

.userInfoAndSearchBar{
    color: gray;
    display: flex;
    align-items: center;
    background-color: white;
    width: 197.6px;
    height:  32.93px;
    padding: 0 9px;
    border-radius: 10px;
    z-index: 1;
}
.userImage{
    border-radius: 50%;
    background-position: center;
}
.leftSideOfHeader{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}
.userEmail{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bold;
}
.signOut{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 10px;
    cursor: pointer;
}
.signOut:hover{
color: #4285F4;
}

.userMenu{
    position: absolute;
    z-index: 4;
    background-color: rgb(255, 255, 255);
    width: 220px;
    height: 80px;
    padding: 20px;
    border-radius: 18px;
    left: 80px;
    top: 40px;

}

@keyframes slideIn {
    0% {
        transform: translateX(-10%);
      opacity: 0; 
    }
    50%{
        opacity: 0; 
    }
    70%{
        opacity: 0.2; 
    }
    95%{
        
        opacity: 0.9; 
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
        z-index: 1; 
    }
  }


@media (max-width: 440px) {

    .header{
        flex-direction: column;
        gap: 10px;
        
    }

    .dashboardTitle{
       
        font-size: 18px;
        /* line-height: 20.26px; */
    }
    
    .searchBarItem{
        outline: none;
        border: none;
        width: 40%;
    }

    .userInfoAndSearchBar{
        justify-content: space-between;
    }
}