.dashboardContainer{
  /* background-color: aquamarine; */
  display: flex;
 
  color: white;

  

 
}

.loading{
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;

}

.ldsheart {
display: inline-block;
position: relative;
width: 180px;
height: 180px;
transform: rotate(45deg);


}
.ldsheart div {
top: 32px;
left: 32px;
position: absolute;
width: 32px;
height: 32px;
background: linear-gradient(#4285F4 , #286DE0);

animation: ldsheart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.ldsheart div:after,
.ldsheart div:before {
content: " ";
position: absolute;
display: block;
width: 32px;
height: 32px;
background: linear-gradient(#4285F4 , #286DE0);

}
.ldsheart div:before {
left: -24px;
border-radius: 50% 0 0 50%;
}
.ldsheart div:after {
top: -24px;
border-radius: 50% 50% 0 0;
}
@keyframes ldsheart {
0% {
  transform: scale(1.95);
}
5% {
  transform: scale(1.1);
}
39% {
  transform: scale(1.85);
}
45% {
  transform: scale(1);
}
60% {
  transform: scale(1.95);
}
100% {
  transform: scale(2.0);
}
}



.dark{
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.mainContianer{
  display: flex;
  /* padding: 20px; */
  align-items: center;
  justify-content: center;  
  background-color: #F8FAFF;
  position: relative;
  height: 100vh;
  
  
}

.centerContainer{
  display: flex;
  /* width: 100%; */
  /* height: 100%; */
}
      

.title1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 43.88px;
}
.navigationSideBar{
      flex:  0 0 20%;
      background: linear-gradient(#4285F4 , #286DE0);
      padding: 30px 50px;
      display: flex;
      border-radius: 20px;
      animation: slideIn .6s ease-in-out forwards;


}

.overview{
      flex: 1;
      /* background-color: wheat; */
      padding: 20px;
      /* height: 100vh; */
      width: 100%;
      
}

.navigationMenus{
  margin-top: 30px;
}

.overviewInsideContainer{
  /* background-color: #F8FAFF; */
  /* height: 60%; */
   width: 100%;
 
}

.menuBar{
 
  display: none;

}
.menuBar:hover{
  color: #aec5ed;
}

.bottomContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  animation: slideIn .8s ease-in-out forwards;

}
@media (max-width: 1170px) {
  .navigationSideBar{
      display: none;
      visibility: hidden;
      }

      .navigationSideBarMedium{
          flex:  0 0 20%;
          background: linear-gradient(#4285F4 , #286DE0);
          display: flex;
          position: fixed;
          width: 230px;
          height: 100vh;
          z-index: 2;
          top: 0;
          left: 0;
          padding: 40px;
          animation: slideIn .3s ease-in-out forwards;

        

          }

      .menuBar{
          color: rgb(255, 255, 255);
          width: 44px;
          position: absolute;
          left: 3%;
          top: 1%;
          height: 44px;
          border-radius: 50%;
          background: linear-gradient(60deg , #4285F4 , #286DE0);
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: all .4s;
      }

      .overview{
          flex: 1;
          /* background-color: wheat; */
          padding: 0;
          
  }

  

}
.overviewMobileView{
  padding: 10px;
  margin-top: 20px;
  color: white;
}


@media (max-width: 900px) {
  .overviewInsideContainer{
     
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
     
  }
  .dashboardContainer{
      height: 100vh;
      width: 100%;
     padding: 0;

  /* margin:  0 auto; */
  }
}

@media (max-width: 440px) {

  .mainContianer{
    display: none;
    visibility: hidden;
  }
  

  .overview{
      padding: 4px;
      height: 100vh;
    
      margin-top: 20px;
  }

  

  .bottomContainer{
      display: flex;
      flex-direction: column;
      width: 100%;
      /* margin-bottom: 40px; */

  }

  .menuBar{
      width: 35px;
      height: 35px;
  }
}
@keyframes slideIn {
  0% {
      transform: translateX(-10%);
    opacity: 0; 
  }
  50%{
      opacity: 0; 
  }
  70%{
      opacity: 0.2; 
  }
  95%{
      
      opacity: 0.9; 
  }
  100% {
      transform: translateX(0%);
      opacity: 1; 
  }
}



