.mainContainer{
    width: 100%;
    height: 100vh;
    background-color:  #F8FAFF;
    display: flex;
}


.subContainer1{
    color: white;
    width: 50%;
    padding: 210px;
    background: linear-gradient(#4285F4 , #286DE0);
    webkit-clip-path: polygon(100% 0%, 95% 0%, 5% 100%, 0% 100%);
    clip-path:   polygon(0% 0%,
    0% 0%,
    100% 0%,

    80% 100%,
    0% 100%,
     0% 80%);
}



.signindIv{
    width: 400px;
}

.logoDiv{
    position: absolute;
    top: 59.81px;
    left:  72.99px;
}

.logoTitle{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 29.44px;
    letter-spacing: 1.5%;
}


.nameBrand{
    position: absolute;
    width: 246px;
    height: 88px;
    top:  404px;
    left:  171px;
}


.logoTitle2{
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 87.77px;

}
.formContainer{
    background-color: white;
    width: 322.64;
    height:  347.99px;
    border-radius: 20px;
    padding: 30px 20px;
    margin-top: 20px;
}

.inputLabel{
    font-family: "Figtree", sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
}

.logoDiv , .nameBrand , .socialLink , .signInBox , .signindIv , .signInTitle ,.signInWithText{
    animation: slideIn .8s ease-in-out forwards;

}




@keyframes slideIn {
    0% {
        transform: translateX(-10%);
      opacity: 0; 
    }
    50%{
        opacity: 0; 
    }
    70%{
        opacity: 0.2; 
    }
    95%{
        
        opacity: 0.9; 
    }
    100% {
        transform: translateX(0%);
        opacity: 1; 
    }
  }

.input{
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    padding: 12px 16px 12px 16px;
    font-size: 16px;

    width: 95%;
    background-color: #F5F5F5;
}
.forgotPasswordLink{
    font-family: "Lato",sans-serif;
    font-size: 16px;
    color: #346BD4;
}
.input::placeholder{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* padding: 30px; */
    animation: slideIn .9s ease-in-out forwards;
}

.inputAndLabel{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
}

.nextButton{
    background-color: #3E84F8;
    width: 95%;
    height: 40px;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: "Figtree", sans-serif;
    font-weight: 600;
    font-size: 14px;
 
}

.socialLinks{
    position: absolute;
    top: 709px;
    width:  299px;
    height: 48px;
    left:  144.4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socialLink{
    text-decoration: none;
    color: white;
}



.subContainer2{
    width: 50%;
    padding: 120px 110px;
    background-color:  #F8FAFF;
    
}


.signInTitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 700px;
    line-height: 43.88px;

}

.signInParagraph{
    font-family: "Lato",  sans-serif;
    margin-top: 10px;
}

.registerText{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    margin-top: 40px;
    color: #858585;
}
.registerLink{
    color: 
    #346BD4;
}
.signInWithText{
    font-family: 'Montserrat', sans-serif;
    color: gray;
    font-size: 12px;
}

.signInBox{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
    width: 
    197.6px;
    height: 
    32.93px;
    background-color: rgba(243, 242, 242, 0.806);
    border-radius: 10px;
    cursor: pointer;
}

.signInBox:hover{
    background-color: rgba(215, 215, 215, 0.806);

}



.ldsheart {
    display: inline-block;
    position: relative;
    width: 180px;
    height: 180px;
    transform: rotate(45deg);
   
  
  }
  .ldsheart div {
    top: 32px;
    left: 32px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: linear-gradient(#4285F4 , #286DE0);
  
    animation: ldsheart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .ldsheart div:after,
  .ldsheart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: linear-gradient(#4285F4 , #286DE0);
  
  }
  .ldsheart div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
  }
  .ldsheart div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
  }
  @keyframes ldsheart {
    0% {
      transform: scale(1.95);
    }
    5% {
      transform: scale(1.1);
    }
    39% {
      transform: scale(1.85);
    }
    45% {
      transform: scale(1);
    }
    60% {
      transform: scale(1.95);
    }
    100% {
      transform: scale(2.0);
    }
  }
  

.loading{
    position: absolute;
   
    border-radius: 14px;
   

    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
}

@media (max-width: 900px) {
    .logoTitle2{
    
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 42px;
        line-height: 87.77px;
    
    }

    .signInTitle{
        font-size: 14px;
        width: 100%;
    }
    
    .signindIv{
        width: 100%;
    }
    .subContainer2{
       padding: 110px;

    }
    .socialLinks{
    left:  64.4px;
    justify-content: center;
    gap: 10px;

    }

    .nameBrand{
    left:  131px;

    }
    }

    @media (max-width: 440px) {

        .signInTitle{
            font-size: 30px;
          
        }

        .signInParagraph{
          
        }
     
        .signInBox{
            width: 210px;
            height: 40px;
            color: black;
            background-color: #fff;
        }

        .subContainer1{
            display: none;

            
        }
        .subContainer2{
            color: black;
            /* background: linear-gradient(60deg,#4285F4 , #286DE0); */
            background-color: #F8FAFF;;
            width: 100%;
            /* height: 100vh; */
            padding: 20px;
           
        }

        .signindIv{
            /* display: flex; */
           
        }

        /* .subContainer2{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        } */

        .registerText{
            font-family: "Lato", sans-serif;
            font-size: 16px;
            text-align: center;
            font-weight: 400;
            margin-top: 40px;
            color: #b8b1b1;
        }
        .registerLink{
            color: 
            #346BD4;
            text-decoration: underline;
        }

       

    }